# Gmail SMTP config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=undergroundf011@gmail.com
SMTP_PASS=pvsn lusm yccc lbrh
MAIL_FROM=undergroundf011@gmail.com

# Server port
PORT=3000

# Next.js runtime build folder (avoid .next lock issue on some Windows setups)
NEXT_DIST_DIR=.next-runtime
